<div class="row show-grid">
  <form method="post" class="form-vertical well row span4">
    <fieldset>
      <legend>活动派帐号登录</legend>
      <!-- insert control groups here -->
      <div class="control-group">
        <label class="control-label" for="">电子邮箱</label>
        <div class="controls">
          <!--<div class="input-prepend input-append">-->
          <input name="user[email]" type="text" class="span4" placeholder="user@example.com">
          <!--</div>-->
          <!--<span class="help-inline"></span>-->
          <!--<p class="help-block"></p>-->
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">密码</label>
        <div class="controls">
          <!--<div class="input-prepend input-append">-->
          <input name="user[password]" type="password" class="span4" placeholder="password">
          <!--</div>-->
          <!--<span class="help-inline"></span>-->
          <!--<p class="help-block"></p>-->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="user[remember_me]"/> 记住我 (公用或共享计算机请勿勾选)
          </label>
        </div>
      </div>
      <hr/>
      <button type="submit" class="btn btn-large btn-success" data-loading-text="登录中...">&nbsp;&nbsp;安全登录&nbsp;&nbsp;</button>
      &nbsp;&nbsp;<a href="/users/password/new">忘记密码?</a>
      &nbsp;&nbsp;<a href="/users/sign_up">免费注册</a>
    </fieldset>
  </form>

  <div class="span7 pull-right">
    <p>ddd</p>
  </div>

</div>