<div class="row show-grid">
  <form method="post" action="<%= registration_path(resource_name) %>" class="form-vertical well row span4">
    <fieldset>
      <legend>活动派帐号注册</legend>
      <!-- insert control groups here -->
      <div class="control-group">
        <label class="control-label" for="">电子邮箱</label>
        <div class="controls">
          <!--<div class="input-prepend input-append">-->
          <input name="user[email]" type="text" class="span4" placeholder="user@example.com">
          <!--</div>-->
          <!--<span class="help-inline"></span>-->
          <!--<p class="help-block"></p>-->
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">密码</label>
        <div class="controls">
          <!--<div class="input-prepend input-append">-->
          <input name="user[password]" type="password" class="span4" placeholder="password">
          <!--</div>-->
          <!--<span class="help-inline"></span>-->
          <!--<p class="help-block"></p>-->
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">密码确认</label>
        <div class="controls">
          <!--<div class="input-prepend input-append">-->
          <input name="user[password_confirmation]" type="password" class="span4" placeholder="password">
          <!--</div>-->
          <!--<span class="help-inline"></span>-->
          <!--<p class="help-block"></p>-->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"/> 同意服务条款及隐私权政策
          </label>
        </div>
      </div>
      <hr/>
      <button type="submit" class="btn btn-large btn-success" data-loading-text="注册中...">&nbsp;&nbsp;同意并注册&nbsp;&nbsp;</button>
      &nbsp;&nbsp;<a href="">重发验证信?</a>
      &nbsp;&nbsp;<a href="/users/sign_in">会员登录</a>
      <%= render "devise/shared/links" %>
    </fieldset>
  </form>

  <div class="span7 pull-right">
    <p>ddd</p>
  </div>

</div>
